{% set image_alias = image_alias|default( "contentgrid" ) %}
<ezylius_product>
    <a href="{{ path( location ) }}" class="teaser-link">
        <div class="attribute-header">
            <h3>{{ ez_content_name( content ) }}</h3>
        </div>
        {% if not ez_is_field_empty( content, "image" ) %}
            <div class="attribute-image">
                {{ ez_render_field(
                content,
                "image",
                {
                "template": "eZDemoBundle:fields:ezimage_simple.html.twig",
                "parameters": {"alias": image_alias}
                }
                ) }}
            </div>
        {% endif %}
    </a>

    {% if not ez_is_field_empty( content, 'price' ) %}
        <div class="attribute-price">
            {{ 'Price'|trans~": " }}{{  ez_render_field( content, 'price' )}}
        </div>
    {% endif %}

    <div class="add-to-cart">
        <a href="{{ path('sylius_cart_item_add')~"?id="~content.contentInfo.id }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'Add to cart'|trans }}</a>
    </div>

    <div class="attribute-short">
        {{ ez_render_field( content, "short_description" ) }}
    </div>

</ezylius_product>