{#
    Sylius product - full view
#}

{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}

    <section class="content-view-full">
        <div class="class-ezsylius-product row">
            <div class="span8">
                <div class="attribute-header">
                    <h1>{{ ez_render_field( content, 'name' ) }}</h1>
                </div>

                {% if not ez_is_field_empty( content, 'description' ) %}
                    <div class="attribute-long">
                        {{ ez_render_field( content, 'description' ) }}
                    </div>
                {% endif %}

                {% if not ez_is_field_empty( content, 'sylius_product') %}
                    <div class="attribute-price">
                        <h3>{{ 'Sylius information'|trans~": " }}</h3>{{  ez_render_field( content, 'sylius_product' )}}
                    </div>
                {% endif %}
                {#
                <div class="add-to-cart">
                    <a href="{{ path('sylius_cart_item_add')~"?id="~content.contentInfo.id }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'Add to cart'|trans }}</a>
                </div> #}

                {{ render( controller( 'eZDemoBundle:Demo:viewTipAFriend', {'location': location} ) ) }}
            </div>
        </div>
    </section>
{% endblock %}