{% block syliusproduct_field %}

    <div>{{ 'Name'|trans~": " }}{{ field.value.name }}</div>
    <div>{{ 'Description'|trans~": " }}{{ field.value.description }}</div>
    <div>{{ 'Price'|trans~": " }}{{ field.value.price }}</div>
    {% if field.value.available_on %}
    <div>{{ 'Available on'|trans~": " }}{{ field.value.available_on }}</div>
    {% endif %}
    {% if field.value.weight %}
        <div>{{ 'Weight'|trans~": " }}{{ field.value.weight }}</div>
    {% endif %}
    {% if field.value.height %}
        <div>{{ 'Height'|trans~": " }}{{ field.value.height }}</div>
    {% endif %}
    {% if field.value.width %}
        <div>{{ 'Width'|trans~": " }}{{ field.value.width }}</div>
    {% endif %}
    {% if field.value.depth %}
        <div>{{ 'Depth'|trans~": " }}{{ field.value.depth }}</div>
    {% endif %}

{% endblock %}