{% block syliusproduct_field %}

    <div>{{ 'Name'|trans~": " }}{{ field.value.name }}</div>
    <div>{{ 'Description'|trans~": " }}{{ field.value.description }}</div>
    <div>{{ 'Price'|trans~": " }}{{ field.value.price }}</div>
    <div>{{ 'Available on'|trans~": " }}{{ field.value.available_on.date }}</div>
    {% if field.value.weight %}
        <div>{{ 'Weight'|trans~": " }}{{ field.value.weight }}</div>
    {% endif %}
    {% if field.value.height %}
        <div>{{ 'Height'|trans~": " }}{{ field.value.height }}</div>
    {% endif %}
    {% if field.value.width %}
        <div>{{ 'Width'|trans~": " }}{{ field.value.width }}</div>
    {% endif %}

    <br />

    <div class="add-to-cart">
        <a href="{{ path('sylius_cart_item_add')~"?id="~field.value.syliusId }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'Add to cart'|trans }}</a>
    </div>

{% endblock %}